@import "element-variables";

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //text-rendering: optimizeLegibility;
  //font-family: 'Catamaran-Regular';
}
